.feature{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
}

.feature div:nth-child(2){
    margin: 2rem 0 .5rem; 
}

@media (min-width: 750px) {
    .feature{
        align-items: flex-start; 
        text-align: left;
        justify-content: space-between;
        max-width: 25rem; 
    }
}